<section class="header">
    <header>
        <nav class="logo">
            <h1>
                CinemaPedia
            </h1>
        </nav>
        <nav class="menu menu-list">
            <ng-container *ngFor="let menu of menus">
                <a [routerLink]="['/' + menu?.label]" 
                   [routerLinkActive]="'menu-activate'" 
                   class="menu-item item-a"> {{ menu?.name }} </a>
            </ng-container>
        </nav>
        <nav class="menu menu-right">
            <div class="menu-item search">Search</div>
            <div class="menu-item notifications"> Notifications </div>
            <div class="menu-item grid-menu"> Grid </div>
            <div class="menu-item account">
                <div class="menu-item w-img rounded">
                    <img src="../../../assets/image/adi.JPG" alt="">
                </div>
                <div class="arrow" [ngClass]="{ 'arrow-open' : arrOpen }">
                    <img src="../../../assets/icon/arrow-down-white.png" alt="" (click)="arrOpen = !arrOpen">
                </div>
            </div>

            <div class="dropdown-account" [ngClass]="{ 'dropdown-open' : arrOpen }">
                <ul>
                    <li> Setting </li>
                    <li> Logout </li>
                </ul>
            </div>
        </nav>
    </header>
</section>
