<section class="header">
    <header>
        <nav class="logo">
            CinemaPedia
        </nav>
        <nav class="menu menu-list">
            <a href="#" class="menu-item"> Home </a>
            <a href="#" class="menu-item"> News </a>
            <a href="#" class="menu-item"> About </a>
            <a href="#" class="menu-item"> FAQ </a>
        </nav>
        <nav class="menu menu-right">
            <div class="menu-item search">Search</div>
            <div class="menu-item notifications"> Notifications </div>
            <div class="menu-item grid-menu"> Grid </div>
            <div class="menu-item account">
                <div class="menu-item w-img rounded">
                    <img src="../../../assets/image/adi.JPG" alt="">
                </div>
                <div class="arrow">
                    <img src="../../../assets/icon/arrow-down-white.png" alt="">
                </div>
            </div>
        </nav>
    </header>
</section>
